<h1>All posts: </h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p class="read"><%= link_to "Read more", post %><p>
  <div class="container">
    <p class="publish">Published at: <%= post.published_at.strftime("%Y-%m-%d %H:%M") %></p>
  </div>
<% end %>
<p class="total">Total number of posts: <%= @posts.count %> </p>
